﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="row">
    <div class="col-md-6" style="max-height:670px;height:670px;">
        <div class="card h-100">
            <div style="height:90%;">
                <div class="container h-100 d-flex p-0 justify-content-center ">
                    <div class="align-self-center" style="max-height:100%;">
                        <div class="tab-content" id="nav-tabContent">
                            <img class="img-fluid tab-pane fade show active" id="pic-1" role="tabpanel" src="~/Content/Image/1.png" style="max-height:100%;">
                            <img class="img-fluid tab-pane fade" id="pic-2" src="~/Content/Image/2.png" style="max-height:100%;">
                            <img class="img-fluid tab-pane fade" id="pic-3" src="~/Content/Image/7.jpg" style="max-height:100%;">
                            <img class="img-fluid tab-pane fade" id="pic-4" src="~/Content/Image/4.png" style="max-height:100%;">
                            <img class="img-fluid tab-pane fade" id="pic-5" src="~/Content/Image/5.png" style="max-height:100%;">
                            <img class="img-fluid tab-pane fade" id="pic-6" src="~/Content/Image/6.png" style="max-height:100%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group list-group-horizontal justify-content-center align-bottom" id="list-tab" role="tablist" onclick="changeH()">
                <img class="list-group-item-action active img-thumbnail" id="list-1-list" data-toggle="list" href="#pic-1" src="~/Content/Image/1.png" alt="1" style="max-width:64px;max-height:64px" onclick="countClick1(alt)"/>
                <img class="list-group-item-action img-thumbnail" id="list-2-list" data-toggle="list" href="#pic-2" src="~/Content/Image/2.png" alt="2" style="max-width:64px;max-height:64px" onclick="countClick2(alt)"/>
                <img class="list-group-item-action img-thumbnail" id="list-3-list" data-toggle="list" href="#pic-3" src="~/Content/Image/7.jpg" alt="3" style="max-width:64px;max-height:64px" onclick="countClick3(alt)"/>
                <img class="list-group-item-action img-thumbnail" id="list-4-list" data-toggle="list" href="#pic-4" src="~/Content/Image/4.png" alt="4" style="max-width:64px;max-height:64px" onclick="countClick4(alt)"/>
                <img class="list-group-item-action img-thumbnail" id="list-5-list" data-toggle="list" href="#pic-5" src="~/Content/Image/5.png" alt="5" style="max-width:64px;max-height:64px" onclick="countClick5(alt)"/>
                <img class="list-group-item-action img-thumbnail" id="list-6-list" data-toggle="list" href="#pic-6" src="~/Content/Image/6.png" alt="6" style="max-width:64px;max-height:64px" onclick="countClick6(alt)"/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <div class="container mt-3">
            <h3>Popover Example</h3>
            <p>Popovers must be initialized with jQuery: select the specified element and call the popover() method.</p>
            <a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>
        </div>

    </div>
</div>
<div class="row" style="height:385px;">
    <div class="col-md-6 p-0 d-inline-flex h-100">
        <div class="col-6 p-0">
            <div class="card h-100 img-thumbnail" style="background-color:#F7FAFC;">

                <div class="container d-flex h-75 justify-content-center p-0">
                    <div class="align-self-center text-center">

                        <img src="~/Content/Image/1.png" class="img-fluid Hello" style="max-height:100%;" />

                    </div>
                </div>

                <div class="align-bottom">
                    <h5 class="m-0 text-center">Name</h5>
                    <p class="m-0">Hello</p>
                    <p class="m-0">Hello</p>
                    <p class="m-0">Hello</p>
                </div>
            </div>
        </div>
        <div class="col-6 p-0">
            <div class="card h-100 img-thumbnail" style="background-color:#F7FAFC;">

                <div class="container d-flex h-75 justify-content-center p-0">
                    <div class="align-self-center text-center">

                        <img src="~/Content/Image/4.png" class="img-fluid Hello" style="max-height:100%;" />
                        
                    </div>
                </div>

                <div class="align-bottom">
                    <h5 class="m-0 text-center">Name</h5>
                    <p class="m-0">Hello</p>
                    <p class="m-0">Hello</p>
                    <p class="m-0">Hello</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-0 d-inline-flex h-100">
        <div class="col-6 p-0">
            <div class="card h-100 img-thumbnail" style="background-color:#F7FAFC;">

                <div class="container d-flex h-75 justify-content-center p-0">
                    <div class="align-self-center text-center" id="#2">

                        <img src="~/Content/Image/6.png" class="img-fluid Hello" style="max-height:100%;" />

                    </div>
                </div>

                <div class="align-bottom">
                    <h5 class="m-0 text-center">Name</h5>
                    <p class="m-0">Hello</p>
                    <p class="m-0">Hello</p>
                    <p class="m-0">Hello</p>
                </div>
            </div>
        </div>
        <div class="col-6 p-0">
            <div class="card h-100 img-thumbnail" style="background-color:#F7FAFC;">

                <div class="container d-flex h-75 justify-content-center p-0">
                    <div class="align-self-center text-center">

                        <img src="~/Content/Image/5.png" class="img-fluid Hello" style="max-height:100%;"/>
                        
                    </div>
                </div>

                <div class="align-bottom">
                    <h5 class="m-0 text-center">Name</h5>
                    <p class="m-0">Hello</p>
                    <p class="m-0">Hello</p>
                    <p class="m-0">Hello</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var ci1 = 1;
    var ci2 = 0;
    var ci3 = 0;
    var ci4 = 0;
    var ci5 = 0;
    var ci6 = 0;

    function countClick1(num) {
        if (num && ci1) return 0;
        else {
            ci1 = 1;
            ci2 = 0;
            ci3 = 0;
            ci4 = 0;
            ci5 = 0;
            ci6 = 0;
        }
    }
    function countClick2(num) {
        if (num && ci2) return 0;
        else {
            ci1 = 0;
            ci2 = 1;
            ci3 = 0;
            ci4 = 0;
            ci5 = 0;
            ci6 = 0;
        }
    }
    function countClick3(num) {
        if (num && ci3) return 0;
        else {
            ci1 = 0;
            ci2 = 0;
            ci3 = 1;
            ci4 = 0;
            ci5 = 0;
            ci6 = 0;
        }
    }
    function countClick4(num) {
        if (num && ci4) return 0;
        else {
            ci1 = 0;
            ci2 = 0;
            ci3 = 0;
            ci4 = 1;
            ci5 = 0;
            ci6 = 0;
        }
    }
    function countClick5(num) {
        if (num && ci1) return 0;
        else {
            ci1 = 0;
            ci2 = 0;
            ci3 = 0;
            ci4 = 0;
            ci5 = 1;
            ci6 = 0;
        }
    }
    function countClick6(num) {
        if (num && ci5) return 0;
        else {
            ci1 = 0;
            ci2 = 0;
            ci3 = 0;
            ci4 = 0;
            ci5 = 0;
            ci6 = 1;
        }
    }

    function changeH() {
        setTimeout(function () {
            var CImg = document.getElementById("nav-tabContent");
            var P_CImg = CImg.parentElement;
            if (CImg.clientHeight - 1 > P_CImg.clientHeight) {
                //alert(CImg.clientHeight + "  >  " + P_CImg.clientHeight + "  and add height=100%");
                CImg.style.height = "100%";
                P_CImg.style.height = "100%";
            }
            else {
                //alert(CImg.clientHeight + "  < or =  " + P_CImg.clientHeight);
                CImg.style.height = "";
                P_CImg.style.height = "";
            }
        }, 195);

    }    

    $(document).ready(function () {
        var CImg = document.getElementsByClassName("img-fluid Hello");
        var Lth = CImg.length;

        for (var i = 0; i < Lth; i++) {
            var Wth = CImg[i].clientWidth;
            var Hth = CImg[i].clientHeight;
            var P_Img = CImg[i].parentElement;
            var P_P_Img = P_Img.parentElement;
            if (Hth > P_P_Img.clientHeight) P_Img.style.height = "100%";
        }
        onclick
    });
    $("list-tab").click(function () {
        setTimeout(function () {
            alert("Hello!");
        }, 10);
    });

    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
