﻿
img.listimg {
    width: inherit;
    max-width: 100%;
    max-height: 100%;
    height: inherit;
}

.midle {
    position: absolute;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.list_items .item_img {
    position: relative;
    overflow: hidden;
    height: 160px;
    background: #fbfbfb;
}
.list_items .item {
    float: left;
    width: 50%;
    position: relative;
    overflow: hidden;
}
.list_items {
    margin-right: -6px;
    margin-left: -6px;
    margin-bottom: 15px;
    overflow: hidden;
}
.list_items .item_data {
    line-height: 1.5;
    text-align: left;
    padding: 10px;
    height: 80px;
}

.item_img {
    position: relative;
    overflow: hidden;
    height: 160px;
    background: #fbfbfb;
}
.item_data {
    line-height: 1.5;
    text-align: left;
    padding: 10px;
    height: 80px;
}
.item {
    float: left;
    width: 50%;
    position: relative;
    overflow: hidden;